-@ val appName: String
-@ val clientId: String

div{:class => "navbar navbar-inverse navbar-fixed-top"}
  div{:class => "navbar-inner"}
    div{:class => "container"}
      a{:class => "brand", :href => "/", :style => "border: none;"} #{appName}
      div{:class => "nav-collapse collapse"}
        ul{:class => "nav pull-right", :style => "top: 5px;"}
          // li(class="active")
          //   a(href="#") Watch
          li
            div{:id => "gConnect", :style => "display: none"}
              button(class="g-signin"
                data-scope="https://www.googleapis.com/auth/plus.login"
                data-requestvisibleactions="http://schemas.google.com/AddActivity"
                data-clientId=clientId
                data-accesstype="offline"
                data-callback="onSignInCallback"
                data-theme="dark"
                data-cookiepolicy="single_host_origin")
          li
            div{:id => "userMenu", :class => "button-group", :style => "display: none;"}
              button(class="btn btn-success dropdown-toggle" data-toggle="dropdown" style="margin-top: 0px")
                span{:id => "userName"}
                span{:class => "caret"}
              ul{:class => "dropdown-menu"}
                li
                  a(href="#") Action 1
                li
                  a(href="#") Action 2
                li
                  a(href="#") Action 3
                li{:class => "divider"}
                li
                  a{:href => "#", :id => "gDisconnect"} Log Out
